<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Email ID:</label>
      <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password">
    </div>


    <div class="form-group">
      <label for="name">Name:</label>
      <input formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>



    <div class="form-group">
      <label for="mobile">mobile:</label>
      <input type="number" formControlName="mobile" placeholder="mobile" name="mobile" class="form-control" id="mobile">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
